body {
    background-color: #fff3b0;
    color: #335c67;
}
h2{
    color: red;
}

/* The below code is to center everything in the middle */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: table;
}

.my-block {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}